.form-control::placeholder {
  color: #aaa !important;  /* màu placeholder mặc định */
  opacity: 1;
}

.form-control.bg-dark::placeholder {
  color: #ddd !important;  /* khi ở dark mode thì placeholder sáng hơn */
}
